.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-grid input,
.form-grid select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.form-grid input:focus,
.form-grid select:focus {
  border-color: #007bff;
}

.container{
  margin: auto;
  border-radius: 12px;
  background: #d1d1d1;
  padding: 20px;
  width: 500px;
  height: auto;
}

.full-width {
  grid-column: span 2;
}
